##ignore this file##
*.iml
PythonProgram/.idea/
PythonProgram/machineLearning/.idea/
PythonProgram/mihtest/.pytest_cache/
JavaProgram/Demons/.idea/
JavaProgram/mih_spring/.idea/
JavaProgram/Demons/*.iml
/algorithms/.vscode/
/C++Program/.vs/
/CProgram/.vscode/
/JSProgram/.idea/
/mihInclude/.vscode/
/JavaProgram/.idea/
JavaProgram/Design/.idea/
/JavaProgram/HibernateDemo/target/
/JavaProgram/javeTest/.idea/
/JavaProgram/jerseyTest/.idea/
/JavaProgram/jerseyTest/target/
/JavaProgram/jerseyTest/out/
/JavaProgram/jettyTest/.idea/
/JavaProgram/jettyTest/target/
/JavaProgram/jFinaltet/.idea/
/JavaProgram/jFinaltet/target/