<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!--hibernate-configurate表明以下配置是针对session-factory配置的-->
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.session_factory_name">org.hibernate.cfg.AnnotationConfiguration</property>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <!--指定数据库驱动-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--链接指定数据库的密码-->
        <property name="hibernate.connection.password">mihao0804</property>
        <!--链接指定数据库的url-->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/employees?useUnicode=true&amp;characterEncoding=utf-8</property>
        <!--链接指定数据库的用户名-->
        <property name="hibernate.connection.username">root</property>
        <!--数据库连接池大小-->
        <property name="connection.pool_size">20</property>
        <!--显示sql语句-->
        <property name="show_sql">true</property>
        <!--jdbc.fetch_size是指Hibernate每次从数据库中取出并放到JDBC的Statement中的记录条数。Fetch Size设的越大，读数据库的次数越少，速度越快，Fetch Size越小，读数据库的次数越多，速度越慢-->
        <property name="jdbc.fetch_size">50 </property>
        <!--jdbc.batch_size是指Hibernate批量插入,删除和更新时每次操作的记录数。Batch Size越大，批量操作的向数据库发送Sql的次数越少，速度就越快，同样耗用内存就越大-->
        <property name="jdbc.batch_size">23 </property>
        <!---->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="person">true</property>
        <!---使用注解方式表明数据实例对象-->
        <!--<mapping class=""/>-->
        <!--<mapping class="" />-->
        <!--<mapping class="mih.model.Lsp" />-->
        <!--<mapping class="mih.model.Qos" />-->
        <!--<mapping class="mih.model.Sncswitch" />-->
        <mapping resource="hibernateMappingFiles/CurrentDepEmp.hbm.xml" />
        <mapping resource="hibernateMappingFiles/Departments.hbm.xml" />
        <mapping resource="hibernateMappingFiles/DeptEmp.hbm.xml" />
        <mapping resource="hibernateMappingFiles/DeptEmpLatestData.hbm.xml" />
        <mapping resource="hibernateMappingFiles/DeptManager.hbm.xml" />
        <mapping resource="hibernateMappingFiles/Employees.hbm.xml" />
        <mapping resource="hibernateMappingFiles/Salaries.hbm.xml" />
        <mapping resource="hibernateMappingFiles/Title.hbm.xml" />
    </session-factory>
</hibernate-configuration>