<?xml version="1.0" encoding="UTF-8"?>
<configuration>

        <contextName>logback-demo</contextName>

        <property name = "userName" value = "mih"/>
        <property name = "logback.logdir" value="spring_log" />
        <property name="logback.appname" value="spring-demo" />



        <appender name = "console" class = "ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
            </layout>
        </appender>
        <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>DENY</onMatch>
                <onMismatch>ACCEPT</onMismatch>
            </filter>
            <File>D:/log/${logback.logdir}/info.${logback.appname}.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>D:/log/${logback.logdir}/info.${logback.appname}.%d{yyyy-MM-dd}.log</FileNamePattern>
                <maxHistory>90</maxHistory>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
            </encoder>
        </appender>


        <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>Error</level>
            </filter>

            <File>D:/log/${logback.logdir}/error.${logback.appname}.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${logback.logdir}/error.${logback.appname}.%d{yyyy-MM-dd}.log</FileNamePattern>
                <maxHistory>90</maxHistory>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
            </encoder>
        </appender>
    <springProfile name="test,dev">
        <logger name="control" level="INFO" additivity="false">
            <appender-ref ref="fileInfoLog"/>
        </logger>
    </springProfile>

    <!-- 生产环境. -->
    <springProfile name="prod">
        <logger name="control" level="INFO" additivity="false">
            <appender-ref ref="console"/>
        </logger>
    </springProfile>
    <root level = "INFO">
        <appender-ref ref = "console" />
        <appender-ref ref = "fileInfoLog" />
        <appender-ref ref = "fileErrorLog" />
    </root>


</configuration>